body {
	color: #000000;
	text-align: left;
	font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
	font-size: 11pt;
	line-height: 16pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

p {
	color: #000000;
	text-align: left;
	font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
	font-size: 11pt;
	line-height: 16pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

a:link {
	color: #000099;
	text-decoration: underline;
}
A:active {
	color: #880000;
	text-decoration: underline;
}
A:visited {
	color: #663399;
	text-decoration: underline;
}
A:hover {
	color: #000066;
	text-decoration: underline;
} 

.normal {

}

#toc-div li { margin-top: 0; }
#toc-div ul li { margin-top: 0; }
#toc-div ul li li { margin-top: 0px; }

.first {
	padding-top: 0pt;
	margin-top: 3pt;
}
.center {
	text-align: center
}
.right {
	text-align: right
}
.small {
	font-size: 9pt;
	line-height: 12pt;
}

TABLE.navTable {
	background-color: #330099;
}
TABLE.trad {
	background-color: #880000;
}
TD.clear { background-color: #FFFFFF; }
TD.navButton {
	background-color: #DDDDEE;
	color: #880000;
	font-size: 10pt;
	line-height: 12pt;
	text-align: left;
	font-weight: 500;
}
A.navLink:link {
	color: #000066;
	text-decoration: none;
	font-weight: 500;
}
A.navLink:active {
	color: #000066;
	text-decoration: none;
	font-weight: 400;
}
A.navLink:visited {
	color: #000066;
	text-decoration: none;
	font-weight: 400;
}
A.navLink:hover {
	color: #000066;
	text-decoration: underline;
	font-weight: 500;
}
H1 { /* Page Headings */
	color: #FF7800;
	font-size: 18pt;
	line-height: 24pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
H2
{
	color: #FF7800;
	font-size: 16pt;
	line-height: 22pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-bottom: 0pt; 
	padding-bottom: 0pt;
}
H3 { /* Normal Page Sub-Headings */
	color: #FF7800;
	font-size: 14pt;
	line-height: 18pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-bottom: 0pt; 
	padding-bottom: 0pt;
}
H4 {
	color: #FF7800;
	font-size: 13pt;
	line-height: 17pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	margin-bottom: 0pt; 
	padding-bottom: 0pt;
}
H5 {
	color: #FF7800;
	font-size: 12pt;
	line-height: 16pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-bottom: 0pt; 
	padding-bottom: 0pt;
}
P.testimonialLeft {
	font-size: 11pt;
	line-height: 14pt;
	color: #333333;
	border-color: #333333;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
	margin: 24px 60px 24px 0;
	background-color: #DDDDDD;
}
P.testimonialRight {
	font-size: 11pt;
	line-height: 14pt;
	color: #333333;
	border-color: #333333;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
	background-color: #DDDDDD;
	margin: 24px 40px 24px 20px;
}
A.head:link {
	color: #FF7800;
	text-decoration: none;
}
A.head:active
{
	color: #FF7800;
	text-decoration: underline;
}
A.head:visited {
	color: #FF7800;
	text-decoration: none;
}
A.head:hover {
	color: #000099;
	text-decoration: underline;
}

TH {
	font-weight: 600;
	text-align: left;
	vertical-align: bottom;
	background-color: #FFFFFF;
}
TD {
	text-align: left;
	vertical-align: top;
	background-color: #FFFFFF;
}
TD.middle {
	text-align: left;
	vertical-align: middle;
	background-color: #FFFFFF;
}

OL LI { 
	font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
	font-size: 11pt;
	line-height: 16pt;
	margin-top: 12pt; 
}

UL LI { 
	font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
	font-size: 11pt;
	line-height: 16pt;
	margin-top: 12pt; 
}

UL LI.compact { 
	margin-top: 0pt; 
	margin-left: 0pt;
	text-indent: 0pt;
	padding-left: 0pt;
	border-left: 0pt;
}

A.pspub:link {
	color: #6464Ae;
	text-decoration: none;
}

A.pspub:active {
	color: #333399;
	text-decoration: none;
}

A.pspub:visited {
	color: #6464Ae;
	text-decoration: none;
}

A.pspub:hover {
	color: #6464Ae;
	text-decoration: underline;
}

UL.pspub1
{
	list-style: url(images/bullet.gif) square;
	font-family: Arial Black, Arial, sans-serif;
	margin-left: 10pt;
	padding-left: 10pt;
	font-size: 12pt;
	line-height: 16pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #6464Ae;
}

UL.pspub2 {
	list-style: url(images/bulleta.gif) disc;
	font-family: Arial Black, Arial, sans-serif;
	margin-left: 0pt;
	padding-left: 20pt;
	font-size: 10pt;
	line-height: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #6464Ae;
}

DL DT { 
	margin-top: 12pt; 
	font-weight: 500;
	color: #FF7800;
	font-size: 11pt;
	line-height: 16pt;
	margin-bottom: 0pt; 
}

DL DD { 
	margin-top: 12pt; 
	font-weight: 400;
	color: #000000;
	font-size: 11pt;
	line-height: 16pt;
	margin-bottom: 0pt; 
}

SPAN.command { color: #000099; }
SPAN.variable { color: #880000; }

/*
 Table of Contents for a page
 */

#toc-div ul li li { margin-top: 0px; }

#toc-div a:link {
	color: #000;
	text-decoration: none;
}
#toc-div a:active {
	color: #000;
	text-decoration: none;
}
#toc-div a:visited {
	color: #000;
	text-decoration: none;
}
#toc-div a:hover
{
	color: #000;
	text-decoration: none;
	border-bottom: 1px gray dashed;
}
